First of all I have to import data from exel sheet

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pak_data=pd.read_excel("pakistan.xls")

In [3]:
pak_data.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-10-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
4,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0

In [22]:
pak_data.info

<bound method DataFrame.info of                      Data Source World Development Indicators  \
0              Last Updated Date          2023-10-26 00:00:00
1                            NaN                          NaN
2                   Country Name                 Country Code
3                          Aruba                          ABW
4    Africa Eastern and Southern                          AFE
..                           ...                          ...
264                       Kosovo                          XKX
265                  Yemen, Rep.                          YEM
266                 South Africa                          ZAF
267                       Zambia                          ZMB
268                     Zimbabwe                          ZWE

            Unnamed: 2      Unnamed: 3   Unnamed: 4   Unnamed: 5   Unnamed: 6  \
0                  NaN             NaN          NaN          NaN          NaN
1                  NaN             NaN          NaN          NaN          NaN
2       Indicator Name  Indicator Code       1960.0       1961.0       1962.0
3    Population, total     SP.POP.TOTL      54608.0      55811.0      56682.0
4    Population, total     SP.POP.TOTL  130692579.0  134169237.0  137835590.0
..                 ...             ...          ...          ...          ...
264  Population, total     SP.POP.TOTL     947000.0     966000.0     994000.0
265  Population, total     SP.POP.TOTL    5542459.0    5646668.0    5753386.0
266  Population, total     SP.POP.TOTL   16520441.0   16989464.0   17503133.0
267  Population, total     SP.POP.TOTL    3119430.0    3219451.0    3323427.0
268  Population, total     SP.POP.TOTL    3806310.0    3925952.0    4049778.0

      Unnamed: 7   Unnamed: 8   Unnamed: 9  ...  Unnamed: 57  Unnamed: 58  \
0            NaN          NaN          NaN  ...          NaN          NaN
1            NaN          NaN          NaN  ...          NaN          NaN
2         1963.0       1964.0       1965.0  ...       2013.0       2014.0
3        57475.0      58178.0      58782.0  ...     102880.0     103594.0
4    141630546.0  145605995.0  149742351.0  ...  567892149.0  583651101.0
..           ...          ...          ...  ...          ...          ...
264    1022000.0    1050000.0    1078000.0  ...    1818117.0    1812771.0
265    5860197.0    5973803.0    6097298.0  ...   26984002.0   27753304.0
266   18042215.0   18603097.0   19187194.0  ...   53873616.0   54729551.0
267    3431381.0    3542764.0    3658024.0  ...   15234976.0   15737793.0
268    4177931.0    4310332.0    4447149.0  ...   13555422.0   13855753.0

     Unnamed: 59  Unnamed: 60  Unnamed: 61  Unnamed: 62  Unnamed: 63  \
0            NaN          NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN          NaN
2         2015.0       2016.0       2017.0       2018.0       2019.0
3       104257.0     104874.0     105439.0     105962.0     106442.0
4    600008424.0  616377605.0  632746570.0  649757148.0  667242986.0
..           ...          ...          ...          ...          ...
264    1788196.0    1777557.0    1791003.0    1797085.0    1788878.0
265   28516545.0   29274002.0   30034389.0   30790513.0   31546691.0
266   55876504.0   56422274.0   56641209.0   57339635.0   58087055.0
267   16248230.0   16767761.0   17298054.0   17835893.0   18380477.0
268   14154937.0   14452704.0   14751101.0   15052184.0   15354608.0

     Unnamed: 64  Unnamed: 65  Unnamed: 66
0            NaN          NaN          NaN
1            NaN          NaN          NaN
2         2020.0       2021.0       2022.0
3       106585.0     106537.0     106445.0
4    685112979.0  702977106.0  720839314.0
..           ...          ...          ...
264    1790133.0    1786038.0    1761985.0
265   32284046.0   32981641.0   33696614.0
266   58801927.0   59392255.0   59893885.0
267   18927715.0   19473125.0   20017675.0
268   15669666.0   15993524.0   16320537.0

[269 rows x 67 columns]>

In [23]:
import pandas as pd

In [24]:
lahore = pd.read_clipboard()

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/#not-implemented-error

In [ ]:
lahore.info()

In [ ]:
plt.figure(figsize=(30,30))
pakhan = sns.barplot(x='Province',y='Rank',hue='City',data=lahore)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming you have already imported your data and set up the 'lahore' DataFrame

# Set the size of the plot
plt.figure(figsize=(30,30))
pakhan = sns.barplot(x='Province',y='Rank',hue='Population',data=lahore,width=5)

# Annotate the bars with city names
for p in pakhan.patches:
    pakhan.annotate(f'{p.get_height():.2f}', (p.get_x() + p.get_width() / 2., p.get_height()),
                    ha='center', va='center', xytext=(0, 10), textcoords='offset points')

# Show the plot
plt.show()

# **Practice on the Pakistan Population Data:**